/* Dispositivos Mobile */

:root {
    --cor-hover: rgb(47, 95, 134);
}

.form-container {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.form-container .sociais {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form-container .sociais .img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

.form-container .sociais img {
    width: 30px;
}

.form-container .sociais .linkedin {
    padding-right: 10px;
}

.formulario {
    width: 60%;
    max-width: 600px;
    flex: 1;
}

.formulario p {
    margin: 15px 0px 15px 0px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
}

input#limpar {
    background-color: var(--cor2);
    color: var(--cor4);
    border: 1px solid var(--cor4);
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

input#limpar:hover {
    background-color: var(--cor4);
    color: var(--cor3);
}

input#enviar {
    color: var(--cor4);
    background-color: var(--cor1);
    border: 1px solid var(--cor4);
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

input#enviar:hover {
    background-color: var(--cor-hover);
}

textarea {
    height: 150px;
}

/* Media Queries para telas maiores */

@media screen and (min-width: 992px) {
    .container {
        max-width: 1300px;
    }
}