@media only screen and (min-width: 992px){

    header nav {
        width: 150px;
        height: 68vh;
        position: absolute;
        background-image: linear-gradient(to bottom, var(--cor2), );
    }
    
    header nav ul {
        display: block;  
    }

    main {
        height: 68vh;
        background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));
    }

    footer {
        background-image: linear-gradient(to top, var(--cor2), var(--cor1));
    }
}