* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root {
    --cor1: rgb(9, 49, 82);
    --cor2: rgb(8, 8 ,8);
}

html, body {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: var(--cor2);
}

header div#cabecalho {
    background-color: var(--cor2);
    padding: 20px;
}

header div#cabecalho h1 {
    font-family: "Boldonse";
    text-align: center;
    display: block;
    margin: auto;
    width: 350px;
}

header nav {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));
}

header nav ul {
    padding: 15px;
    list-style-type: none;   
    display: flex;
    flex-direction: row;
}

header nav ul li { 
    padding-bottom: 25px;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: 0.4s;
}

header nav ul li a:hover {
    background-color: var(--cor1);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66vh;
    background-image: linear-gradient(to top, var(--cor2), var(--cor1));
}

main div#imagem {
    border: 1px solid white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(../imagens/foto-propria.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: var(--cor2);
    padding: 20px;
    display: flex;
    justify-content: center;
}

footer span {
    display: block;
    text-align: center;
}