/* Dispositivos Mobile */

section.conteudo {
    background-color: white;
    text-align: justify;
    padding: 15px 25px 15px 25px;
}

section.conteudo h2 {
    color: var(--cor1);
    text-align: center;
    padding: 10px 0px 5px 0px;
}

section.conteudo p {    
    color: var(--cor2);
    padding: 20px 0px;
}

section.conteudo a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
}

section.conteudo a:hover {
    text-decoration: underline;
}

section.conteudo a::after {
    content: '\1F517';
}

/* Media Queries para telas maiores */

@media screen and (min-width: 992px) {

    .container {
        max-width: 1300px;
    }

    section.conteudo h2 {
        color: var(--cor1);
        text-align: left;
    }
}