/* Dispositivos Mobile */

.titulo-sobre {
    width: 100%;
    height: 100%;
    align-self: flex-start;
    text-align: center;
    padding: 0.7rem;
}

.titulo-sobre h2 {
    padding-bottom: 30px;
}

.titulo-sobre p {
    padding-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px;
    gap: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.grid .conteudo {
    border: 1px solid white;
    padding: 10px;
}

.grid .img1 {
    background: url(../imagens/Captura\ de\ tela\ 2025-03-23\ 122200.png);
    background-size: cover;
    background-position: center top;
}

.grid .img2 {
    background: url(../imagens/Captura\ de\ tela\ 2025-03-23\ 122220.png);
    background-size: cover;
}

.grid .img3 {
    background: url(../imagens/Captura\ de\ tela\ 2025-03-23\ 122235.png);
    background-size: cover;
}

.grid .img4 {
    background: url(../imagens/Captura\ de\ tela\ 2025-03-23\ 122259.png);
    background-size: cover;
}

.grid .conteudo a {
    display: block;
    width: 100%;
    height: 100%;
}

/* Media Queries para Tablets */

@media screen and (min-width: 768px) {
    .grid {
        grid-template-rows: 500px 500px;
    }
}

/* Media Queries para telas maiores */

@media screen and (min-width: 992px) {

    .container {
        max-width: 1300px;
    }

    .titulo-sobre {
        text-align: left;
    }    
}    