/* Dispositivos Mobile */

:root {
    --bg-section: rgb(255, 255, 255);
}

.main-sobre {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section.texto1, section.texto2 {
    background-color: var(--bg-section);
    width: 100vw;
    padding: 15px;
}

section.texto1 {    
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.450);    
    z-index: 1;
}

section.texto1 h2 {
    text-align: center;
    color: var(--cor1);
    padding: 10px 0px 30px 10px;
}

section p {
    margin-bottom: 15px;
    color: var(--cor2);
    text-align: justify;
    padding: 10px;
}

section a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
}

section a:hover {
    text-decoration: underline;
}

section a.link::after {
    content: '\1F517';
}

section.imagem1 {
    background: url(../imagens/beta-e-eu.jpg);
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

section.texto2 {
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.450);
}

/* Media Queries para telas maiores */

@media screen and (min-width: 992px) {

    .container {
        max-width: 1300px;
    }

    section.texto1, section.texto2 {
        width: 100%;
    }
    
    section.texto1 h2 {
        text-align: left;
        padding-left: 10px;
    }

    section.imagem1 {
        width: 100%;
    }
}